<launch>
  <arg name="lidar_config" default="$(find eaglemk4)/config/lidar.yaml" />

  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
    <rosparam file="$(arg lidar_config)" command="load"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.2245 0.0 0.2 0.12 0.0  0.0 /base_footprint /laser_frame 40" />
</launch>
